.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body
{
  background-color: #B4E0E8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* #left
{
  background-color:rgb(245, 255, 236);
  outline: 5px solid black;
} */


#gridcolumn
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

#rulecolumn
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 1.5rem;

}
#bottomcolumn
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}
#sketch
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  /* margin-left: 1rem; */
}


#wrap_around
{
  margin-left: 2px;
}
#colorPicker
{
  margin-left: 2px;
}
#seed_probability
{
  margin-bottom: 0rem;
}
#seed_probability.custom-range::-webkit-slider-thumb {
  background: green;
}
#reset_button
{
  margin-top: 1;
}

#infobox
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;


}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hero
{
  background-color:transparent;
  margin-top: 0rem;
}

#rightcol
{
  background-color:transparent;
  margin-top: 0rem;

}

.vertical-center {
  min-height: 0%; 
  min-height: 0vh;

  display: flex;
  align-items: center;
}
