.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body
{
  background-color: #B4E0E8;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* #left
{
  background-color:rgb(245, 255, 236);
  outline: 5px solid black;
} */


#gridcolumn
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

#rulecolumn
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}

#playback_bar
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

}
#speed_bar
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

}

#historySlider.custom-range::-webkit-slider-thumb {
  width: 3rem;
}  

#fpsSlider.custom-range::-webkit-slider-thumb {
  width: 3rem;
} 
#sketch
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}


#wrap_around
{
  margin-right: 0;
}
#colorPicker
{
  margin-left: 0;
}
#seed_probability
{
  margin-bottom: 0rem;
}
#wraptext
{
 padding:0px;
  margin-left:-0.5rem;
}
#seed_probability.custom-range::-webkit-slider-thumb {
  background: green;
}
#reset_button
{
  background-color: #e75362;
  border:transparent;
  margin-top: 0.5rem;
}

.p3
{
  margin-left:0.5rem;
  margin-bottom:1rem;
}
#p5
{
  margin-left:0.5rem;
  margin-top:0.5rem;
}

#infobox
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;


}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hero
{
  background-color:transparent;
  margin-top: 0rem;
}

#rightcol
{
  background-color:transparent;
  margin-top: 0rem;

}

#bottom
{
  margin-left: 0.5rem;
  margin-right: -0.5rem;

}

.vertical-center {
  min-height: 0%; 
  min-height: 0vh;

  display: flex;
  align-items: center;
}
#model_modal_body{
  position: relative;
  overflow-y: auto;
  padding: 15px;
}
.modal-dialog {
  text-align: center; 
  max-width: 100%;
  width: auto !important;
  display: inline-block;
}
/* d3js */
.axis { 
  font-family: sans-serif;
  fill: #d35400;
  font-size: 12px;
}
.line {
  fill: none;
  stroke: #f1c40f;
  stroke-width: 3px;
}
.smoothline {
  fill: none;
  stroke: #2E8B9F;
  stroke-width: 3px;
}
.area {
  fill: #2E8B9F;
  opacity: 0.5;
}
.circle {
  stroke: #e7f5f8;
  stroke-width: 3px;
  fill: #FFF;
}
.grid {
  stroke: #DDD;
  stroke-width: 1px;
  fill: none;
}
#collapse_viz
{
  background-color:#e7f5f8;
  /* border: 1px solid rgb(139, 123, 211); */
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;
}
#svg{
  margin-top:0px;
  margin-bottom:0;

}